{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "not ie 11"
          ]
        },
        "useBuiltIns": true,
        "debug": true,
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    "add-module-exports"
  ]
}
